body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    justify-content: space-between;  

    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(174, 0, 255, 0.76));
}



.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.marquee {
    font-size: 32px;
    border-style: solid;
    border-radius: 20px;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    white-space: nowrap;
    
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centerScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.faceOff {
    padding-top: 64px;
    font-size: 24px;

    font-family: 'Press Start 2P', cursive;
    text-align: center;
    
    
}


.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    
}

img {
    width: 100px;
    height: auto;
    border-radius: 20px;
    
}

button {
    
    background-color: transparent;
    font-family: 'Press Start 2P', cursive; 
    border: none;
    font-size: 24px;
    color: black;
    width: 200px;
}

.left,
.right {
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    padding-bottom: 16px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.progressBar {
    height: 500px;
    width: 20px;
    border-radius: 13px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column-reverse;
    
}

#leftBar,
#rightBar {
    background-color: black;
    height: 0;
    border-radius: 13px;
}

.pic {
  padding: 5px;
  font-size: 24px;
  text-align: center;
  
  outline: none;
  
  background-color: black;
  border: none;
  border-radius: 15px;
  
}

.pic:hover {background-color: rgb(149, 43, 158)}

.pic:active {
  
  box-shadow:  5px black;
  transform: translateY(4px);
}